<div class="d-flex flex-column">
    <h1>Welcome To Morgantown Beauty College—West Virginia’s Leader 
        In Helping You Realize Your Dream Of A Career In The Beauty 
        & Massage Industry.
    </h1>

    <p>
        For nearly 70 years we’ve been helping ambitious, 
        dedicated, driven students just like 
        achieve their dream of finding fulfilling, meaningful, well paying careers in the beauty and massage business. 
        Morgantown Beauty College is accredited by the National Accrediting Commission of Career Arts & Sciences 
        so you can rest assured your education and career goals are no longer just a wishful fantasy! 
        You can create a viable career path 
        doing what you’ve always dreamed of—and we’re here to help you every step of the way!
    </p>

    <h2>
        OUR MISSION
    </h2>

    <p style="text-align: left">
        <i>
        “The mission of Morgantown Beauty College is to nurture a strong sense of professional self-discipline in our students 
        as they acquire basic theoretical knowledge and proficiency in their practical skills in cosmetology and related fields, 
        as well as to prepare our graduates for employment.
        </i>
    </p>

    <p style ="text-align: left">
        <i>
        Our students are trained to help their clients realize the value and benefits of living a more beautiful and healthier life. 
        A sincere empathy with fellow human beings and a natural creative artistry are essential professional foundations. 
        As students learn, they will discover and develop their individual talents and artistic creations through the nurturing, 
        direction, and instruction of their program studies. They will also be instructed in fundamental business skills, 
        which will enable them to sculpt their unique professional profile in the fast-growing beauty industry.”
        </i>
    </p>

</div>
