<div class = "WelcomeComponent d-flex flex-column">
   <div class = "WelcomeText">
    <h3>
        Creative Minds. Creative Work.
    </h3>
    <h1>
        Change Your Life.
    </h1>
    <h2>
        In less than two years.
    </h2>
    </div>

    <div class = "Forms d-flex flex-row justify-content-evenly align-items-end">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Phone">
        <select class="form-select-sm" aria-label="Default select example">
            <option selected>I'm Interested In:</option>
            <option value="1">Cosmetology</option>
            <option value="2">Esthetics</option>
            <option value="3">Hairstylist</option>
            <option value="4">Massage Therapy</option>
            <option value="5">Nail Technician</option>
            <option value="6">NEW Distance Learning</option>
          </select>
    
    </div>

    <div class = "Submit d-flex justify-content-center">
        <button>GET PROGRAM INFO</button>
    </div>

   
</div>