.WelcomeComponent{
    background-image: url("/assets/imgs/HeaderImage2.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 980px;
    margin-top: 70px;
}

h1{
    color:black;
    font-size: 500%;
    position: relative;
    animation-name: slideIn;
    animation-duration: 1.5s;
}

h2{
    color: gray;
    position: relative;
    animation-name: slideIn;
    animation-duration: 1.2s;
}

h3{
    color: gray;
    position: relative;
    animation-name: slideIn;
    animation-duration: 1.2s;
}

.WelcomeText{
    padding-left: 3%;
    
}

@keyframes slideIn {
    from   { left:-1000px; top: 0px;}
    to { left:0px; top:0px;}
  }

h1{
    outline-color: white;
    outline: 5px;
}

.Forms{
    background-color: black;
    height: 100px;
    
}

input{
    margin-top: 10px;
    width: 20%;
    height: 50%;
}

select{
    margin-top: 10px;
    width: 20%;
    height: 50%;
}

.Submit{
    padding-bottom: 50px;
    background-color: black;
}

button{
    background-color: #d2da1b;
    color: white;
    height: 50px;
    width: 200px;
}

button:hover{
    background-color: #3c8c9c;
    transition-duration: .5s;
}






