<h1 style="margin-bottom: 50px">
    <b>
        Earn Your West Virginia Esthetician License
    </b>
</h1>

<div class="d-flex flex-row justify-content-center">
    <div class="left">
        <iframe style="margin-top: 30px;" src="https://www.youtube.com/embed/H8poDwsReuQ"></iframe>
        <h3>
            What To Expect From Your Esthetic Program Class Schedule
        </h3>
        <p>
            A <b>Dermalogica Partner School</b>, the Esthetics Program focuses on skin care by teaching different types
            of
            facials, microdermabrasion, skin mapping, product knowledge, full body waxing, and makeup application.
            <br>
            <br>
            Classes are scheduled from Tuesdays through Saturdays meeting from 8:30 AM – 3:00 PM totaling 600 hours of
            coursework. If you find yourself facing scheduling conflicts we are happy to discuss various ways to
            accommodate your time. Please just call us directly at <b>304.292.8475</b> or stop by the college and we
            will work
            with you.
            <br>
            <br>
            Once you’ve completed Morgantown Beauty College’s Esthetics Program you will be ready to take the State
            Board Examination to become a licensed West Virginia Esthetician.
        </p>
    </div>
    <div class="right">
        <div>
            <h2 style="margin-bottom: 20px;">
                <b>
                    Coursework includes:
                </b>
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Basic & Advanced Skin Care
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Makeup
            </h2>
            <h2 class="skills">

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Facial Massage
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Nutrition For Health & Beauty
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Health of Skin
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Skin Structure
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Temporary Hair Removal
            </h2>


        </div>
        <div>
            <h3>
                Esthetic Distance Learning
            </h3>

            <p style="padding-right: 12%">
                Distance Learning students will enjoy the same personalized learning experience through <b>virtual
                    theory </b>and <b> in-person practical instruction. </b>
                <br>
                <br>
                Rotation will include one week online + one week on campus until all theory is completed, then the
                student will be required to be on campus every day through the end of the program.
            </p>
        </div>
        <div>
            <h2>
                <em>

                    “I feel very confident in the skills that I have learned. The other students and staff members are
                    wonderful as well. They made the experience that much more worth it!”

                </em>
            </h2>
            <p class="Allison">
                <em>
                    – Allison Debusca, Esthetics Graduate
                </em>
            </p>
        </div>

    </div>
</div>

<div>
    <div class="carouselWrap d-flex justify-content-center align-items-center">
        <div id="carouselExampleControls" class="carouselSlide carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of images let i = index" [ngClass]="{'active': i == 0 }">
                    <app-esthetics-card img1={{item.img1}} img2={{item.img2}} img3={{item.img3}} imgAlt1={{item.imgAlt1}} imgAlt2={{item.imgAlt2}} imgAlt3={{item.imgAlt3}}></app-esthetics-card>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<h1>
    What Your Esthetics Kit Includes:
</h1>


<div class="tabsBox" style ="margin-bottom: 50px;">
    <div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="essentials-tab" data-bs-toggle="tab" data-bs-target="#essentials"
                type="button" role="tab" aria-controls="essentials" aria-selected="true">ESSENTIALS</button>

            <button class="nav-link" id="dermalogica-tab" data-bs-toggle="tab" data-bs-target="#dermalogica"
                type="button" role="tab" aria-controls="dermalogica" aria-selected="false">DERMALOGICA</button>



        </div>
    </div>

    <div class="panels tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="essentials" role="tabpanel" aria-labelledby="essentials-tab"
            tabindex="0">
            <p class="tabText">
                iPad + Case
                <br>
                MindTap Standard Cosmetology

            </p>
        </div>
        <div class="tab-pane fade" id="dermalogica" role="tabpanel" aria-labelledby="dermalogica-tab" tabindex="0">
            <p class="tabText">
                PreCleanse
                <br>
                Special Cleansing Gel (16.9 OZ)
                <br>
                Intensive Moisture Cleanser
                <br>
                Daily Microfoliant
                <br>
                MultiVitamin Power Recovery Masque
                <br>
                Prisma Protect SPF 30
                <br>
                Multi-Active Toner
                <br>
                Active Moist
                <br>
                Calming Botanical Mixer
                <br>
                MultiVitamin Power Exfoliant
                <br>
                Exfoliant Accelerator 35
                <br>
                Post Extraction Solution
                <br>
                Multi Active Scaling Gel
                <br>
                Conductive Masque Base
                <br>
                Massage Gel Cream
                <br>
                Welcome Pack
                <br>
                Dermalogica Fan Masque Brush
                <br>
                Face Mapping Prescription Sheets
                <br>
                Facial Sponges
                <br>
                Carry Case
                <br>
                Dermalogica Apron
                <br>
                Flat Mannequin Head
                <br>
                Portable High Frequency
            </p>
        </div>


    </div>
</div>