<p class="OurPrograms">
    Our Programs
</p>
<h1>
    Ready to Build a Career You Love?
</h1>

<div class="programBoxes d-flex flex-row">
    <div class="CosmoBackground">
        <div class="Cosmetology d-flex flex-column justify-content-center">
            <a href="cosmetology">
                <h2>
                    Cosmetology
                </h2>
                <p>
                    Core skills and applications you need to succeed in the beauty industry.
                </p>
            </a>
        </div>
    </div>

    <div class="MediumBoxes d-flex flex-column justify-content-center">
        <div class="HairBackground">
            <div class="Hairstylist d-flex flex-column justify-content-center">
                <a href="hairstylist">
                    <h2>
                        Hairstylist
                    </h2>
                    <p>
                        Master general stylist skills and get practical salon experience.
                    </p>
                </a>
            </div>
        </div>
        <div class="SkinBackground">
            <div class="SkinCare d-flex flex-column justify-content-center">
                <a href="esthetics">
                    <h2>
                        Wholistic Skin Care
                    </h2>
                    <p>
                        Focusing on skin care, makeup, facial massage and the nutritional
                        foundations of health and beauty regimens.
                    </p>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="SmallProgramBoxes d-flex flex-row">
    <div class="NailBackground">
        <div class="NailTech d-flex flex-column justify-content-center">
            <a href="nail">
                <h3>
                    Nail Technology
                </h3>
                <p>
                    Master artistic precision using advanced techniques and products.
                </p>
            </a>
        </div>
    </div>

    <div class="MassageBackground">
        <div class="MassageTherapy d-flex flex-column justify-content-center">
            <a href="massage">
                <h3>
                    Massage Therapy
                </h3>
                <p>
                    We provide the basic theoretical and practical skills that meets or exceeds accrediting standards.
                </p>
            </a>
        </div>
    </div>

    <div class="DistanceBackground">
        <div class="DistanceLearning d-flex flex-column justify-content-center">
            <a href="distance">
                <h3>
                    New! Distance Learning
                </h3>
                <p>
                    Designed for students to complete theoretical classwork from home, and only come on campus for
                    practical
                    skill building.
                </p>
            </a>
        </div>
    </div>
</div>

<div class="Advertisement d-flex d-row justify-content-center">
    <div class="AdTitleHeading d-flex flex-column justify-content-center">
        <h4>
            Grab Hold Of Your Dreams! Earn Your Beauty License In As Little As Nine Months!
        </h4>
    </div>
    <p class="newCareer">
        Your new career in the beauty or massage industry is waiting for you!
        There’s never been a better time than the present to earn your West Virginia license,
        the first step in opening doors to a wide variety of opportunities, income, marketable skills and valued
        experience.
        What are you waiting for? Learn more about the application process and get started with your future today.
    </p>
</div>