a{
    color: transparent;
}
h1{
    color:#3e8998;
    padding-left: 10%;
    margin-bottom: 10px;
    
}

.OurPrograms{
    color: #3e8998;
    padding-left: 10%;
    margin-top: 50px;
    font-size: xx-large;
}


.programBoxes{
    width: 100%;
}

.CosmoBackground{
    background-image: url("/assets/imgs/CosmetologyBackground.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1100px;
    border-right: white solid;
    border-top: white solid;
    border-bottom: white solid;
    border-width: 11px;
}

.Cosmetology{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

.Cosmetology:hover{
    background-color: rgba(192, 65, 192,.5);
    transition-duration: 300ms;
}

.MediumBoxes{
    width:62%;
}

.HairBackground{
    background-image: url("/assets/imgs/HairStylinBackground.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.Hairstylist{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    border: white solid;
    border-width: 11px;
}

.Hairstylist:hover{
    background-color: rgba(192, 65, 192,.5);
    transition-duration: 300ms;
}

.SkinBackground{
    background-image: url("/assets/imgs/SkinCareBackground.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.SkinCare{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    border: white solid;
    border-width: 11px ;
}

.SkinCare:hover{
    background-color: rgba(192, 65, 192,.5);
    transition-duration: 300ms;  
}

.NailBackground{
    background-image: url("/assets/imgs/NailTechnologyBackground.jpeg");
    background-position: center;
    background-size: cover;
    height: 343px;
    width: 33%;
}

.NailTech{
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    border: white solid;
    border-width: 11px ;
}

.NailTech:hover{
    background-color: rgba(192, 65, 192,.5);
    transition-duration: 300ms;
}

.MassageBackground{
    background-image: url("/assets/imgs/MassageTherapyBackground.jpeg");
    background-position: center;
    background-size: cover;
    height: 343px;
    width: 33%;
}

.MassageTherapy{
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    border: white solid;
    border-width: 11px ;
}

.MassageTherapy:hover{
    background-color: rgba(192, 65, 192,.5);
    transition-duration: 300ms;
}

.DistanceBackground{
    background-image: url("/assets/imgs/DistanceLearnBackground.jpeg");
    background-position: center;
    background-size: cover;
    height: 343px;
    width: 33%;
}

.DistanceLearning{
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    border: white solid;
    border-width: 11px ;
}

.DistanceLearning:hover{
    background-color: rgba(192, 65, 192,.5);
    transition-duration: 300ms;
}

h2{
    color: white;
    padding-left: 3%;
    font-size: 450%;

}

h3{
    color: white;
    padding-left: 3%;
}

h4{
    color:#3e8998;
    font-size: xx-large;
}

.AdTitleHeading{
    padding-left: 18%;
    width: 40%;
}

.newCareer{
    color: rgb(110, 110, 110);
    width: 50%;
    padding-right: 25%;
    line-height: 130%;
    font-size: 110%;
}

.Advertisement{
    margin-top: 60px;
    margin-bottom: 60px;  
}

p{
    color: white;
    padding-left: 2.9%;
    font-size: 140%;
    line-height: 90%;
}