.Background{
    background-image: url("/assets/imgs/BorderBoxes.jpeg");
    background-size: cover;
    background-position: center;
}
.opaqueCover{
    width: 100%;
    height: 775px;
    background-color: rgba(100,100,100,.7);
    padding-top: 100px;
    padding-bottom: 100px;
}

h1{
    color:white;
    font-size: 400%;
}

p{
    color: white;
}

.Information{
    border: 2px solid;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 18%;
    height: 550px;
    margin-left: 10px;
}