
<div class="Background">
    <div class ="opaqueCover d-flex justify-content-center">
    <div class = "Information d-flex flex-column justify-content-center">
        <h1>
            WV's Leader.
        </h1>
        <p>
            Morgantown Beauty College Is West Virginia’s leader in preparing you for a fulfilling career in beauty and massage. 
            Start a career you love!
        </p>
    </div>
    <div class = "Information d-flex flex-column justify-content-center">
        <h1>
            Funding Your Future.
        </h1>
        <p>
            Deciding on how to pay for your schooling doesn’t have to be a challenge. 
            Learn more about financial aid and assistance that is available to qualifying students.
        </p>
    </div>
    <div class = "Information d-flex flex-column justify-content-center">
        <h1>
            Creative Learning.
        </h1>
        <p>
            Don’t sacrifice a quality education due to travel restrictions. 
            We now offer distance learning for students who can’t be on campus everyday.
        </p>
    </div>


</div>
</div>

