<div class="background d-flex flex-row justify-content-evenly">

    <div class="logo">
        <a href="#">
            <img src="assets/imgs/MBCLogo1.png" alt="Beauty College Logo" width="300" height="135">
        </a>
    </div>

    <div class="quickLinks">
        <h1><b>QUICK LINKS</b></h1>
        <p>
            Apply Online Today!
            <br>
            Courses
            <br>
            Services
            <br>
            Enrollment Process & Financial Aid
            <br>
            Contact
        </p>

    </div>

    <div class="visit">
        <h1><b>VISIT US</b></h1>
        <p>
            276 Walnut Street
            <br>
            Morgantown, WV 26505
            <br>
            <br>
            304-292-8475
        </p>
    </div>

    <div class="clinicHours">
        <h1><b>MBC CLINIC HOURS</b></h1>
        <p>
            Monday – Friday : 8 am – 4 pm
            <br>
            Saturday : 9 am – 2 pm
            <br>
            Sunday : Closed
        </p>
    </div>

</div>