<div class="massageBackground">
    <div class="opaqueCover d-flex justify-content-center align-items-center">
        <h1>
            Massage Therapy
        </h1>
    </div>
</div>

<div class = "introText d-flex flex-column justify-content-center align-items-center">
    <p class = "hours">400 HOURS</p>
    <h2 class = "programTextIntro">
        Our thorough Massage Therapy Program prepares students for 
        West Virginia Licensure as well as National Certification Examination testing.

    </h2>
</div>

