<div class = "Background d-flex flex-row">

    <div class = "ApplyBoxes">
        <h1>Learn More. Schedule a Tour.</h1>

        <form>
            <div class = "NameEmail d-flex flex-row">
                <input type="text" placeholder="Name">
                
                <input type="text" placeholder="Email">
            </div>
            <div class ="d-flex flex-row">
                <input class ="FullWide" type="text" placeholder="Phone">    
            </div>
            <p>What program are you interested in?</p>
            <div style="padding-right: 15px">
                <select class="d-flex flex-row">
                    <option selected>Select...</option>
                    <option value="1">Cosmetology</option>
                    <option value="2">Esthetics</option>
                    <option value="3">Hairstylist</option>
                    <option value="4">Massage Therapy</option>
                    <option value="5">Nail Technician</option>
                </select>
                <input class="Tall" type="text" placeholder="Message">
            </div>
            <div class = "d-flex flex-row">
                <div style = "width: 50%; padding-right: 15px">
                    <p>Preferred Contact Method</p>
                    <select class="Double d-flex flex-row">
                        <option selected>Select...</option>
                        <option value="1">Email</option>
                        <option value="2">Call</option>
                        <option value="2">Text</option>
                    </select>
                </div>
                <div style = "width: 50%; padding-right: 15px">
                    <p>I'd Like an</p>
                    <select class="Double d-flex flex-row">
                        <option selected>Select...</option>
                        <option value="1">Virtual Tour (via Zoom/Facetime)</option>
                        <option value="2">In-Person Tour</option>
                    </select>
                </div>
            </div>
            <div style = "padding-right: 15px">
                <button type ="submit">I'M READY FOR MY CLOSE UP</button>
            </div>      
        </form>

    </div>


    <div class = "GirlImage">
    </div>

</div>
