<div class="Background">
    <div class="opaqueCover d-flex justify-content-center">
        <div class="boxes d-flex flex-row justify-content-center">
            <div class="InformationBig d-flex flex-column justify-content-center">
                <h1>
                    Financial Aid Is Available For Qualifying Students.
                </h1>
                <p>
                    <b>
                        Financial aid is available to students that qualify.
                        Morgantown Beauty College offers a variety of flexible tuition payment plans. We can also help
                        you
                        identify if you are eligible for any other programs available such a Veterans Administration,
                        WIA
                        (Workforce Investment Act), etc.
                    </b>
                </p>
            </div>
            <div class="Information d-flex flex-column justify-content-center">
                <h1>
                    Apply Today
                </h1>
                <p>
                    <b>
                        It all starts here. Apply online today to turn your passion for the beauty industry into a
                        rewarding career.
                    </b>
                </p>

                <button>
                    GET STARTED
                </button>

            </div>
        </div>


    </div>
</div>