<div class="d-flex flex-row">

    <div class="ApplyToday d-flex flex-column justify-content-center">
        <div class = "DarkeningDiv d-flex flex-column justify-content-center ">
            <h1>
                Apply Today
            </h1>
            <p>
                It all starts here.
                Apply online today to turn your passion for the beauty industry into a rewarding career.
            </p>
            <button>
                GET STARTED
            </button>
        </div>
    </div>
    <div class="GrabBrochure d-flex flex-column justify-content-center">
        <div class = "DarkeningDiv d-flex flex-column justify-content-center">
            <h1>
                Grab A Brochure
            </h1>
            <p>
                Our FREE beauty school kit is a great place to start
                if you’re on the fence about enrolling with Morgantown Beauty College.
            </p>
            <button>
                DOWNLOAD NOW
            </button>
        </div>
    </div>
</div>

<div>
    <p class = "CarouselTitle">
        Our Students Are 
    </p>
    <h2>
        Worth Celebrating
    </h2>
    
</div>