<head>
  <link rel="stylesheet" href="second-top-nav-bar.component.css">
</head>
<nav class="navbar fixed-top">
  <div class="NavBarLogo">
    <a href="#">
      <img src="assets/imgs/MBCLogo1.png" alt="Beauty College Logo" width="300" height="135">
    </a>
  </div>
  <div class="Info">
    <div class="dropdown">
      <button class="dropbtn">COURSES ▼</button>
      <div class="dropdown-content">
        <a href="cosmetology">Cosmetology</a>
        <a href="esthetics">Esthetics</a>
        <a href="hairstylist">Hairstylist Program</a>
        <a href="massage">Massage Therapy</a>
        <a href="nail">Nail Technology</a>
        <a href="distance">New! Distance Learning</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">HOW TO APPLY ▼</button>
      <div class="dropdown-content">
        <a href="#">Admission Steps</a>
        <a href="#">Apply Online!</a>
        <a href="#">Student Resources ></a>
      </div>
    </div>

    <button>
      SERVICES
    </button>

    <div class="dropdown">
      <button class="dropbtn">ABOUT ▼</button>
      <div class="dropdown-content">
        <a href="#">Meet the team</a>
        <a href="#">Media Center</a>
        <a href="#">Student Testimonials</a>
      </div>
    </div>
    <button>
      CONTACT
    </button>
  </div>
</nav>