<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS230 Web Project</title>
</head>

<div>
<app-first-top-nav-bar></app-first-top-nav-bar>
</div>

<div>
<app-second-top-nav-bar></app-second-top-nav-bar>
</div>

<div class = "welcomeImage">
  <app-welcome-image></app-welcome-image>
</div>

<div>
  <app-mission-statement></app-mission-statement>
</div>

<div>
  <app-borderboxes></app-borderboxes>
</div>

<div>
  <app-program-boxes></app-program-boxes>
</div>

<div>
  <app-application-section></app-application-section>
</div>


</html>