a{
    margin: 14px;
}

svg:hover{
    color:#d2da1b;
}

.Decoration:hover{
   color: white;
}
nav {
    height: 70px;
}

div{
    display: inline-block;
    
}

.Application {
    background-color:#3c8c9c;
    color: white;
    height: 55px;
    width: 220px;
    vertical-align: auto;
    text-align: center;
    
}

.ContactInfo {
    margin-left: 10%;
}

.SocialMedia {
    margin-right: 10%;
}

.PhoneNumber {
    color: white;
    margin-right: 50px;

}

.Email{
    color: white;
    
    
}
.Application:hover{
    background-color: #d2da1b;
    color: #7a7866;
    transition-duration: 200ms;
    
}

