<head>
    <link rel="stylesheet" href="first-top-nav-bar.component.css">
</head>

<nav class="navbar fixed-top navbar-light bg-black">
       <div class = "ContactInfo"  >
            <div class = "PhoneNumber">
                304-292-8475
            </div>
            <div class = "Email" >
                admissions@morgantownbeautycollege.edu
            </div>
       </div>
       <div class = "SocialMedia">
            <button class = "Application">
               Ready for a Career?
            </button>
            <a style="color: white">
                F
            </a>
            <a style="color: white">
                T
            </a>
            <a style="color: white;">
                I
            </a>
       </div> 
</nav>
  