<div class="welcomeImage">
    <app-welcome-image></app-welcome-image>
  </div>
  
  <div>
    <app-mission-statement></app-mission-statement>
  </div>
  
  <div>
    <app-borderboxes></app-borderboxes>
  </div>
  
  <div>
    <app-program-boxes></app-program-boxes>
  </div>
  
  <div>
    <app-application-section></app-application-section>
  </div>
  
  <div>
    <app-black-white-brochure></app-black-white-brochure>
  </div>
  
  <div>
    <app-graduated-girls-carousel></app-graduated-girls-carousel>
  </div>
  
  <div>
    <app-quotes-carousel></app-quotes-carousel>
  </div>