<h1>
    <b>
        Earn Your West Virginia Cosmetology License
    </b>
</h1>

<div class="d-flex flex-row">
    <div class="quote">
        <h2>
            <em>

                “I could not have chosen a better establishment to prepare me for my career.
                Attending Morgantown Beauty College is undoubtedly one of the best decisions I’ve ever made.”

            </em>
        </h2>
        <p class="Jenna">
            <em>
                – Jenna Burdette, Cosmetology Graduate
            </em>
        </p>

        <p>
            Upon completion of our Cosmetology Program students will be prepared to take the
            State Board Examination to become a licensed West Virginia Cosmetologist
        </p>
        <div>
            <img src="/assets/imgs/Reflections.jpg">
        </div>
    </div>
    <div class="coursework">
        <div>
            <h2 style="margin-bottom: 20px;">
                <b>
                    Coursework includes:
                </b>
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Hair Cutting
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Hairstyling
            </h2>
            <h2 class="skills">

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Hair Coloring
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Permanent Weaving
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Basic Manicuring & Pedicuring
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Facials
            </h2>
            <h2 class="skills">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
                Anatomy & Physiology
            </h2>
        </div>
        <div>
            <h3>
                Cosmetology Distance Learning
            </h3>

            <p style="padding-right: 12%">
                Distance Learning students will enjoy the same personalized learning experience through <b>virtual
                    theory </b>and <b> in-person practical instruction. </b>
                <br>
                <br>
                Rotation will include two weeks online + one week on campus until all theory is completed, then the
                student will be required to be on campus every day through the end of the program.
            </p>
        </div>

    </div>
</div>

<!-- Begin Tabs section-->

<h1>
    What Your Cosmetology Kit Includes:
</h1>
<div class="tabsBox">
    <div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="essentials-tab" data-bs-toggle="tab" data-bs-target="#essentials"
                type="button" role="tab" aria-controls="essentials" aria-selected="true">ESSENTIALS</button>

            <button class="nav-link" id="combsclips-tab" data-bs-toggle="tab" data-bs-target="#combsclips" type="button"
                role="tab" aria-controls="combsclips" aria-selected="false">COMBS & CLIPPERS</button>

            <button class="nav-link" id="capesclips-tab" data-bs-toggle="tab" data-bs-target="#capesclips" type="button"
                role="tab" aria-controls="capesclips" aria-selected="false">CAPES & CLIPS</button>

            <button class="nav-link" id="styling-tab" data-bs-toggle="tab" data-bs-target="#styling" type="button"
                role="tab" aria-controls="styling" aria-selected="false">STYLING TOOLS</button>

            <button class="nav-link" id="haircoloring-tab" data-bs-toggle="tab" data-bs-target="#haircoloring"
                type="button" role="tab" aria-controls="haircoloring" aria-selected="false">HAIRCOLORING TOOLS</button>

            <button class="nav-link" id="manipedi-tab" data-bs-toggle="tab" data-bs-target="#manipedi" type="button"
                role="tab" aria-controls="manipedi" aria-selected="false">MANI/PEDI</button>

            <button class="nav-link" id="subkit-tab" data-bs-toggle="tab" data-bs-target="#subkit" type="button"
                role="tab" aria-controls="subkit" aria-selected="false">SCHOOL SUBKIT</button>

        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="essentials" role="tabpanel" aria-labelledby="essentials-tab"
            tabindex="0">
            <p class="tabText">
                iPad + Case
                <br>
                MindTap Standard Cosmetology
                <br>
                CHI Square Bag
                <br>
                6 Mannequins
            </p>
        </div>
        <div class="tab-pane fade" id="combsclips" role="tabpanel" aria-labelledby="combsclips-tab" tabindex="0">
            <p class="tabText">
                CHI Turbo & Ionic Combs, 14 Assorted
                <br>
                CHI Brush Stylist I
                <br>
                CHI Brush Stylist II
                <br>
                CHI Turbo Ceramic Round Stylist Pack
                <br>
                CHI Shear Kit
                <br>
                Wahl Trimmer
                <br>
                Wahl Clipper
            </p>
        </div>
        <div class="tab-pane fade" id="capesclips" role="tabpanel" aria-labelledby="capesclips-tab" tabindex="0">
            <p class="tabText">
                CHI Black Color Cape
                <br>
                CHI Silver Apron
                <br>
                CHI Curl Clips
                <br>
                CHI Mega Clip (2)
            </p>
        </div>
        <div class="tab-pane fade" id="styling" role="tabpanel" aria-labelledby="styling-tab" tabindex="0">
            <p class="tabText">
                CHI Mirror
                <br>
                CHI Blow Dryer
                <br>
                CHI Curling Iron
                <br>
                CHI Water Mister Bottle
                <br>
                CHI Magnetic Rollers
                <br>
                Flat Iron
                <br>
                Assorted Perm Rods
                <br>
                (Short/Long Blue, Short/Long White, Long Perch)
            </p>
        </div>
        <div class="tab-pane fade" id="haircoloring" role="tabpanel" aria-labelledby="haircoloring-tab" tabindex="0">
            <p class="tabText">
                CHI Color Key
                <br>
                CHI Color Whisk
                <br>
                Small Color Brush
                <br>
                Large Color Brush
                <br>
                Foil Platform Kit
                <br>
                Tint Bleach Bottle
                <br>
                Color Bowl
            </p>
        </div>
        <div class="tab-pane fade" id="manipedi" role="tabpanel" aria-labelledby="manipedi-tab" tabindex="0">
            <p class="tabText">
                State Board Nail Polish Kit
                <br>
                Manicure Kit
                <br>
                Manicure Bowl
                <br>
                Manicure Nail Brush
                <br>
                Large Toenail Clippers
                <br>
                Sanitation Jar
                <br>
                1 Hand and 1 Stand
            </p>
        </div>
        <div class="tab-pane fade" id="subkit" role="tabpanel" aria-labelledby="subkit-tab" tabindex="0">
            <p class="tabText">
                3 CHI Products
            </p>
        </div>

    </div>
</div>
<!--End Tabs Sections-->
<!--Begin Carousel-->
<div class="carouselWrap d-flex justify-content-center align-items-center">
    <div id="carouselExampleControls" class="carouselSlide carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-evenly">
                    <img class="carouselImages" src="/assets/imgs/CosmoPageImgs/HairSpray.jpeg" alt="...">
                    <img class="carouselImages" src="/assets/imgs/CosmoPageImgs/HairDemoTeacher.jpeg" alt="...">
                    <img class="carouselImages" src="/assets/imgs/CosmoPageImgs/BrushBelt.jpeg" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="images d-flex justify-content-evenly">
                    <img class="carouselImages" src="/assets/imgs/CosmoPageImgs/StudentServices1.jpeg" alt="...">
                    <img class="carouselImages" src="/assets/imgs/CosmoPageImgs/WashingStation.jpeg" alt="...">
                    <img class="carouselImages" src="/assets/imgs/CosmoPageImgs/HairSpray.jpeg" alt="...">
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!--End Carousel-->