<div class="Background">
    <div class = "DarkCover d-flex justify-content-center align-items-center">
        <div id="carouselExampleCaptions" class="CarouselSlide carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="Text d-flex flex-column justify-content-center align-items-center">
                        <p>
                            <em>
                                “My time at Morgantown Beauty College has been life changing.
                                I feel I am ready for my new chapter in life as an esthetician and massage therapist.”
                            </em>
                        </p>
                        <h1>
                            Annie McDaniel
                        </h1>
                        <h2>
                            <em>
                                Cosmetology Graduate
                            </em>
                        </h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="Text d-flex flex-column justify-content-center align-items-center">
                        <p>
                            <em>
                                “My experience at Morgantown Beauty College was amazing,
                                the teachers are there to hep me out all the way.
                                I want to thank every one that was there to help me out.”
                            </em>
                        </p>
                        <h1>
                            Paul Johnson
                        </h1>
                        <h2>
                            <em>
                                Hairstylist Graduate
                            </em>
                        </h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="Text d-flex flex-column justify-content-center align-items-center">
                        <p>
                            <em>
                                “I have finally found my niche as MBC has made learning fun and kept my interest.
                                I am very passionate about skin care and cannot wait to see what the future holds!”
                            </em>
                        </p>
                        <h1>
                            Kara Mitchell
                        </h1>
                        <h2>
                            <em>
                                Estheics Graduate
                            </em>
                        </h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="Text d-flex flex-column justify-content-center align-items-center">
                        <p>
                            <em>
                                “MBC has taught me more than any school could ever even try to.
                                If I could do it all over again I would do it all the same.”
                            </em>
                        </p>
                        <h1>
                            Kelsey Day
                        </h1>
                        <h2>
                            <em>
                                Cosmetology Graduate
                            </em>
                        </h2>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>